@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

:root {
    --colour-teal: #05998C;
    --colour-dark-teal: #037C6E; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}